@import "reset.css";
@import "screens/variales.css";

/* Components */
@import "components/status-bar.css";
@import "components/nav-bar.css";
@import "components/screen-header.css";
@import "components/user-component.css";
@import "components/badge.css";
@import "components/icon-row.css";
@import "components/alt-screen-header.css";
@import "components/no-mobile.css";

/* Screens */
@import "screens/login.css";
@import "screens/friends.css";
@import "screens/find.css";
@import "screens/more.css";
@import "screens/settings.css";
@import "screens/chat.css";

/*Font*/
@import url("https://fonts.googleapis.com/css2?family=Bodoni+Moda:wght@500;600;700;800;900&family=Cookie&family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Nanum+Myeongjo&family=Yusei+Magic&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cookie&family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Nanum+Myeongjo&family=Yusei+Magic&display=swap");

body {
  color: #2e363e;
  font-family: "Bodoni Moda", serif;
  font-family: "Cookie", cursive;
  font-family: "Josefin Sans", sans-serif;
  font-family: "Nanum Myeongjo", serif;
  font-family: "Yusei Magic", sans-serif;
  font-family: "Cookie", cursive;
  font-family: "Josefin Sans", sans-serif;
  font-family: "Nanum Myeongjo", serif;
  font-family: "Yusei Magic", sans-serif;
}

.main-screen {
  padding: 0px var(--horizontal-space);
}

.guard {
  width: 0;
  height: 26px;
}

.guard2 {
  height: 100px;
}
