.settings__setting {
  padding: 20px 5px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.settings__setting:hover {
  animation: userShow 0.5s ease-in-out forwards;
}

.settings__setting i {
  opacity: 0.8;
  margin-right: 20px;
  font-size: 22px;
}

.settings__setting-column:last-child {
  opacity: 0.5;
}
.settings__setting-column {
  display: flex;
  align-items: center;
}

.settings-list__division {
  width: 100vw;
  margin: 50px;
  position: relative;
  right: 75px;
  background-color: black;
  height: 1px;
  opacity: 0.3;
}

.setting__new {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 17px;
  height: 17px;
  margin-left: 10px;
  border-radius: 50%;
  background-color: tomato;
  color: white;
  font-size: 11px;
}
