.screen-header {
  display: flex;
  position: fixed;
  background-color: deepskyblue;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  padding: var(--horizontal-space);
  z-index: 2;
}

.screen-header__title {
  font-size: 32px;
  font-weight: 600;
}

.screen-header__icons span {
  margin-left: 20px;
}

.screen-header__notification {
  background-color: tomato;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  position: absolute;
  right: 17px;
  top: 25px;
}

@keyframes iconFun {
  from {
    transform: none;
  }
  to {
    transform: rotateZ(360deg);
  }
}

.screen-header__icons i:hover {
  animation: iconFun 1s ease-in-out forwards;
}
