.user-component {
  justify-content: space-between;
}

.user-component,
.user-component__column:first-child {
  display: flex;
  align-items: center;
}

.user-component__avatar {
  width: 70px;
  height: 70px;
  border-radius: 27px;
  margin-right: 20px;
}

.user-component__title {
  font-weight: 600;
  font-size: 22px;
}

.user-component__subtitle {
  margin-top: 5px;
  font-size: 17px;
  display: flex;
  align-items: center;
  color: rgba(0, 0, 0, 0.5);
}

.user-component__avatar--xl {
  width: 80px;
  height: 80px;
}

.friends-screen {
  padding: 0px var(--horizontal-space);
}

.user-component__avatar--sm {
  width: 60px;
  height: 60px;
  border-radius: 25px;
}

.user-coponent__title--not-bold {
  font-weight: 400;
}

.user-component__column:last-child {
  color: rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.user-component__time {
  display: block;
  margin-bottom: 10px;
}

.user-component__warning {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: 2px solid tomato;
  color: tomato;
  font-size: 14px;
  font-weight: 700;
  margin-left: 7px;
  opacity: 0.8;
}

.user-component__friend {
  margin-bottom: 30px;
}

.user-component__comment {
  width: 20px;
  height: 20px;
  background-color: deeppink;
}
